.pull-nav {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
}

.pull-nav-overlay {
    background-color: #333;
    position: fixed;
    height: 200%;
    width: 100%;
    z-index: 5;
    opacity: 0;
    display: none;
}

/***
--------------------
Pull Navigation Menu
--------------------
***/


.pull-nav-menu {
    width: 100%;
    background-color: black;
    cursor: -webkit-grab;
    cursor: grab;
    position: relative;
    overflow-scrolling: touch;
}

.pull-nav-menu.mousedown {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.pull-nav-menu .menu {
    overflow: hidden;
    position: absolute;
    height: 100%;
    position: absolute;
    margin-top: 4px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    
    width: 100%;
    text-align: center;
}

.pull-nav-menu .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    padding: 15px 20px;
    width: 100%;
    vertical-align: middle;
}

.pull-nav-menu .menu-item a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #eee;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
}

/***
--------------------
Pull Navigation Handle
--------------------
***/

.pull-nav .pull-nav-handle {
    background-color: black;
    width: 72px;
    margin: 0px 18px; 
    height: 72px;
    padding: 0px 18px;
    position: relative;
    margin: 0 auto;
    margin-top: 3px;
    cursor: pointer;
}


.bar1, .bar2, .bar3, .bar4 {
    display: block;
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: white;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
    
}

.bar1 {
    top: 18px;
}

.bar2 {
    top: 32px;
}

.bar3 {
    top: 32px;
}

.bar4 {
    top: 46px;
}


/***** Pull Navigation - Media Queries *****/

/* Hide pull navigation on screens M and below */
@media screen and (min-width: 992px) {
    nav.pull-nav {
        display: none;
    }
}
